*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#box1 {
    height:40px;
    background-color: #4E56C0;
    position:relative;
    margin-top:0vh;
}

#box101 {
    text-align:center;
    padding-top:4px;
    font-weight:bold;
}

#box102{
    height:200px;
    background-color: #9B5DE0;
}

#box2 {
    height: 150px;
    width:100px;
    position:relative;
    top:20px;
    align-items: center;
    border:2px solid black;
    background-image: url("durgapuja2025.jpg");
    background-size: cover;
}

#box34 {
    text-align:center;
    background-color:#D78FEE;
}

#box304 {
    height:106px;
    width:200px;
    display:inline-block;
    z-index:-1;
    background-color:pink;
}

#box3 {
    display:inline-block;
}

#box5 {
      text-align: center;
}

#box502 {
    height:106px;
    width:200px;
    display: inline-block;
    background-color:pink;
}

#box501{
    text-align: center;
    background-color:#D78FEE;
}

#box601 {
    height: 50px;
    /* width: 1380px; */
    background-color: #4E56C0;
    position: fixed;
    bottom:0;
}